*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-bar{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #929090;
}
.nav-bar .items{
    list-style: none;
    font-size: 25px;
    margin-left: 40px;
   font-weight: 500; 
   color: white;
}
.nav-list{
    display: flex;

}
.logo{
    align-items: center;

}
.banner-container{
    background-image: url("image/asset/image/background.jpg"),linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-title{
    font-size: 75px;
    font-weight: 900;
}
.banner-para{
    width: 50%; 
    font-size: 20px;
    margin: auto;
    padding: 10px;
}
.span-color{
    color: #FD6E0A;
}
.buttton{
    margin-top: 40px;
}
.button-primary1{
    padding: 15px 25px;
    border-radius: 15px;
    border-style: none;
    height: 100px;
    font-size: 15px;
    color: white;
    background-color: #FD6E0A;
    margin-right: 20px;
    font-weight: 600;
}
.button-primary2{
    padding: 15px 25px;
    border-radius: 15px;
    border-style: none;
    height: 100px;
    font-size: 15px;
    color: #FD6E0A;
    font-weight: 600;
}
.author-images{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 100px;
    margin:30px;
    /* border-right: 1px solid red; */
}
.service-container{
    width: 100%;
    height: 100vh;
    background-image: url("image/asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-btn{
    padding: 15px 15px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    color: white;
    background-color: #FD6E0A;
    margin-left: 15px;
    font-weight: 600;
}
.service-title{
    font-size: 40px;
    margin-left: 15px;
}
.service-description{
    width: 50%;
    margin:10px 15px;
    padding: 10px;

}
.service-list li{
    margin: 5px 15px;
    list-style: none;
}
.more-details-button{
    padding: 15px 25px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    color: #FD6E0A;
    font-weight: 600;
}
.author-details{
    display: flex;
    gap:140px;
    align-items: center;
}
.author-img{
    margin-right:15px;
    border-radius: 50px;
}
.author-title{
    font-size:15px;
    font-weight: 600px;
}
.more-details{
    padding: 40px;
}
.service-info{
    margin-bottom: 30px;
}
.service{
    background-color: white;
    padding: 50px;
    width: 220px;
    height: 220px;
    box-shadow: 4px 4px 8px grey;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin: 5px;
}
.service-logo{
    width: 50%;
    padding-bottom: 10px;
}
.service-box-up{
    display: flex;
}
.service-box-down{
    display: flex;
}
.service-right{
    margin-right: 40px;
}
.appointment-image{
    width: 90px;
}
.appointment-left{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.number{
    font-size: 60px;
    font-weight: bold;
}
.appointment-btn{
    padding: 10px 25px;
    border-radius: 15px;
    border-style: none;
    font-size: 15px;
    color: #FD6E0A;
    font-weight: 600;
    background-color: white;
}
.appointment-section{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 75%;
    color: white;
    margin: auto;
    padding: 40px 60px;
    background-color: #FD6E0A;
    border-radius: 30px;
    margin-top: 100px;
}
